-----BEGIN CERTIFICATE-----
MIIDJDCCAgwCCQDHbeAthp4dhTANBgkqhkiG9w0BAQsFADBFMQswCQYDVQQGEwJB
VTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMB4XDTE2MDEyODIxNTAwNVoXDTQzMDYxNTIxNTAwNVowYzELMAkG
A1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0
IFdpZGdpdHMgUHR5IEx0ZDEcMBoGA1UEAwwTd3d3Lm15LXJlZ2lzdHJ5LmNvbTCC
ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOIEdveoY910EOjssIZdWFJ+
gP/rjGapLEHiH8xseQc3nbkbAhBk/9siggQbJ+iYUSCyfW9Vaqk3vAjVHjA3tL6U
M5STeqoo0fY3C7QTtLCc2JosRWFoSTcjj8xWqmTPhzGUcrzZQf6biEf6mQaZ9qGl
Ufsna7np0GUv2V7ZFkMqfppedVv7J1FYwfV/c1dHZiiCw69a9FKo5Hi8du4NmWgZ
p/+zSQb0gYy88G/veT8743FXWfxiG3LNOAODRWTSY7Y7W4N9Ej0AKxCV3eAb5x+a
9vdUGEiOsLDd2AyOLHiWwDEps/yHM8TlFXX1X5unxW9eL13QgUd1QhCIUe8VN5UC
AwEAATANBgkqhkiG9w0BAQsFAAOCAQEAD4v+pHTy7KKSYz58fYFN8DfL34ZmZJPa
EVjZs09LNOIYGrgwMlsHpcv9FuXwGAIDXMXLLChkMx3GfCUc2JTOO4J9ursMoJNv
ozAXf6JLFzY+t+o3Vt8aJO6mzUCayUMJVScTlV5Dc5SPgoN4cGYi82Rfnh5fUZSw
IVkcNiJGoiRPnakVAe5toGb36UoKDnxjV44c34QImfLoQW1QLcm1Hb0x1WI9SQM/
AcCSOukRyCh/bvPVWrpgLlrDiTRHWJkugWmmo4NJOKXVJZS5Pa9A7h2qZVsIaFWY
LIGU0SgpvXyJb2kRh0hOfZmOH5tS3S30wTw5W9/nEN2PMHwAM5vHaA==
-----END CERTIFICATE-----
